<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пропозіцій продажі продукту</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h2>Список пропозіцій продажі продукту:</h2>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Назва продукту:</th>
                    <th>Продавець:</th>
                    <th>Рейтинг продавця:</th>
                    <th>Ціна:</th>
                    <th>Кількість продукту:</th>
                    <th>Знижка на продукт:</th>
                    <th>Наявність:</th>
                    <th>Час створення:</th>
                    <th>ДіЇ:</th>
                </tr>
            </thead>
            <tbody>
                {% for seller_product in product_sellers %}
                    <tr>
                        <td>{{ seller_product.product }}</td>
                        <td>{{ seller_product.seller }}</td>
                        <td>
                            Оцінка: {{ seller_product.seller.rating|default:'Немає відгуків' }}
                            <br>
                                Кількість відгуків: {{ seller_product.seller.rating_count|default:'0' }}
                            <br>
                        </td>
                        <td>{{ seller_product.price }}</td>
                        <td>{{ seller_product.quantity }}</td>
                        <td>{{ seller_product.discount }}</td>
                        <td>{{ seller_product.is_active }}</td>
                        <td>{{ seller_product.created_at|date:"d.m.Y H.i" }}</td>
                        <td>
                            <form method="post" action="{% url 'online_store_app:add_to_cart' seller_product.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="seller_product_id" value="{{ seller_product.id }}">
                                <button type="submit" class="btn btn-success">Додати в корзину</button>
                            </form>
                            <a href="{% url 'online_store_app:seller_review_create' seller_product.seller.id %}"
                               class="btn btn-info">Залишити відгук про продавця</a>
<!--                            <a href="{% url 'online_store_app:product_seller_delete' seller_product.id %}"-->
<!--                            class="btn btn-danger">Видалити</a>-->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'online_store_app:product_seller_create' %}" class="btn btn-success">Створити пропозіцію продажі продукту</a>
    </div>
    <a href="{% url 'online_store_app:product_list' %}" class="btn btn-success">Список продуктів</a>
</body>
</html>